In [1]:
import tensorflow as tf
import numpy as np
import pandas as pd
import sklearn.preprocessing
import tensorflow as tf 
from sklearn import decomposition
import matplotlib.pyplot as plt
from sklearn.utils import shuffle
from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv('train/features.csv',header = None)
df.head(6)

,0,1,2,3,4,5,6,7,8,9,...,50,51,52,53,54,55,56,57,58,59
0,-424.004655,85.886018,-19.391035,19.548873,-3.152061,-3.135796,-5.586479,2.204532,-0.968167,-4.146447,...,0.756196,0.754540,18.187436,14.309552,16.744301,16.287958,16.495040,18.176403,53.666413,down
1,-427.845940,61.444910,-69.906503,75.739853,-35.569725,9.582659,6.669224,5.555409,4.426516,9.670583,...,0.789944,0.717734,23.542518,16.525604,19.920645,17.190587,18.389313,21.918735,60.188674,down
2,-327.288344,107.655145,-85.208783,-4.627603,-34.472271,-2.624659,-18.956204,-6.853750,-7.975197,-20.111568,...,0.553500,0.663733,31.389790,14.436285,17.012344,18.676632,18.853558,19.082480,57.331269,down
3,-341.501762,107.211360,-90.836330,-0.098215,-33.703336,-3.610792,-29.906583,-9.599740,-18.541331,-23.105156,...,0.536866,0.596243,29.135632,14.979695,17.966184,17.527041,17.873409,20.326471,57.930192,down
4,-442.097720,142.172651,-25.851881,33.580954,-4.230062,12.438396,-16.501494,12.557016,0.892619,-2.308974,...,0.361471,0.472670,26.285881,19.839796,20.518118,19.795706,18.634939,17.751166,56.695714,down
5,-481.401211,96.320072,-3.340789,6.039630,-1.719361,16.746752,-0.383682,-8.960226,6.744356,-1.369229,...,0.626463,0.570527,20.251495,15.690428,17.070937,16.076208,22.293984,21.240883,51.277368,down

In [3]:
df = shuffle(df)
df.head(6)

,0,1,2,3,4,5,6,7,8,9,...,50,51,52,53,54,55,56,57,58,59
6100,-278.332452,122.548205,17.836560,38.100128,3.673416,22.453465,3.796170,3.069669,4.242937,4.012372,...,0.801212,0.763200,16.460100,11.475269,14.589060,13.222518,15.129527,14.882141,53.166476,left
30848,-396.004597,118.417287,-56.165559,-17.718862,-7.758987,-1.921056,-5.011773,-12.714256,1.477790,-8.460589,...,0.651782,0.693271,23.868738,17.087911,16.778028,16.785871,22.319176,20.813865,47.732244,unknown
26687,-459.320593,86.033119,-34.166625,26.486928,-4.518112,-10.451871,-17.674859,-13.664492,-18.481547,-8.477611,...,0.723049,0.564621,17.176930,11.393799,16.169262,16.841237,17.982451,21.097822,56.996317,unknown
7525,-434.909854,125.504726,-68.867853,-23.416314,-50.862376,-35.603120,-44.487021,-34.664457,-23.995675,-17.629907,...,0.707256,0.770657,16.431083,19.923425,15.502728,16.357902,19.036731,21.465307,53.337011,no
46441,-514.006214,114.173333,-28.676594,85.126040,-38.347778,22.801841,2.784333,4.392395,7.778591,-6.709243,...,0.566722,0.583612,16.960252,12.600773,15.191264,16.295243,17.753734,20.810784,58.502929,unknown
14135,-504.361062,134.850995,-47.825649,53.285514,-48.107859,25.662676,-22.636735,17.088560,-5.311794,1.440970,...,0.850959,0.746200,16.831720,16.474822,16.902862,17.215572,15.038436,16.477407,66.502537,on

# Partitioning Data

In [4]:
tr = 60000
features = np.array(df)
tr_x = features[:tr,0:58]
tr_y = features[:tr,59]
val_x = features[tr:,0:58]
val_y = features[tr:,59]

# Preprocessing

In [5]:
tr_mean = np.mean(tr_x, axis=0)
tr_std = np.std(tr_x, axis = 0,dtype=np.float64)
tr_xp = (tr_x - tr_mean[None,:])/tr_std[None,:]

val_mean = np.mean(val_x, axis=0)
val_std = np.std(val_x, axis = 0,dtype=np.float64)
val_xp = (val_x - val_mean[None,:])/val_std[None,:]

lab = LabelEncoder()
tr_yp= lab.fit_transform(tr_y)
val_yp= lab.fit_transform(val_y)

n_words= np.unique(tr_yp)
n_classes = len(n_words)
n_features = tr_xp.shape[1]

label_binarizer = sklearn.preprocessing.LabelBinarizer()
label_binarizer.fit(range(n_classes))
tr_yoh = label_binarizer.transform(tr_yp)
val_yoh = label_binarizer.transform(val_yp)

# PCA

In [6]:
pca = decomposition.PCA(n_components ='mle', svd_solver = 'full')
pca.fit(tr_xp)
tr_pca = pca.transform(tr_xp)
val_pca = pca.transform(val_xp)

# Neural Network

In [19]:
n_nodes_hl1 = 700
n_nodes_hl2 = 700
n_nodes_hl3 = 100

batch_size = 200

x = tf.placeholder('float',[None,n_features-1])
y = tf.placeholder('float',[None,n_classes])

In [20]:
def neural_network_model(data):

    # initializing weights and biases for the hidden layers and the output layer
    hidden_l1 = {'weights': tf.Variable(tf.random_normal([n_features-1,n_nodes_hl1])), 
                 'biases':tf.Variable(tf.random_normal([n_nodes_hl1]))}

    hidden_l2 = {'weights': tf.Variable(tf.random_normal([n_nodes_hl1,n_nodes_hl2])), 
                 'biases':tf.Variable(tf.random_normal([n_nodes_hl2]))}

    hidden_l3 = {'weights': tf.Variable(tf.random_normal([n_nodes_hl2,n_nodes_hl3])), 
                 'biases':tf.Variable(tf.random_normal([n_nodes_hl3]))}

    output_l = {'weights': tf.Variable(tf.random_normal([n_nodes_hl3,n_classes])), 
                 'biases':tf.Variable(tf.random_normal([n_classes]))}

    # computing the ouput of each layer and applying a non-linearity at the end of each layer computation
    l1 = tf.add(tf.matmul(data, hidden_l1['weights']), hidden_l1['biases'])
    l1 = tf.nn.relu(l1)

    l2 = tf.add(tf.matmul(l1, hidden_l2['weights']), hidden_l2['biases'])
    l2 = tf.nn.relu(l2)

    l3 = tf.add(tf.matmul(l2, hidden_l3['weights']), hidden_l3['biases'])
    l3 = tf.nn.relu(l3)

    output = tf.add(tf.matmul(l3, output_l['weights']), output_l['biases'])

    return output

In [21]:

def train_neural_network(x):
    prediction = neural_network_model(x)
    cost = tf.reduce_mean(tf.nn.softmax_cross_entropy_with_logits(logits=prediction, labels=y))

    # learning rate = 0.001
    optimizer = tf.train.AdamOptimizer().minimize(cost)

    # one epoch = one cycle of feed-forward and backprop
    n_epochs = 20 

    with tf.Session() as sess:
        sess.run(tf.global_variables_initializer())
        for epoch in range(n_epochs):
            epoch_loss = 0
            for index, offset in enumerate(range(0, tr, batch_size)):
                x_epoch, y_epoch = np.array(tr_pca[offset: offset + batch_size,:]), np.array(tr_yoh[offset: offset + batch_size])
                _, c = sess.run([optimizer, cost], feed_dict ={x:x_epoch, y:y_epoch}) 
                epoch_loss +=c
#             if (epoch%50 == 0):
            print ('Epoch', epoch, 'completed out of', n_epochs, 'loss:', epoch_loss)

        correct = tf.equal(tf.argmax(prediction,1), tf.argmax(y,1))
        accuracy  = tf.reduce_mean(tf.cast(correct, 'float'))
        print('Accuracy:', accuracy.eval({x:val_pca, y:val_yoh}))

In [22]:
train_neural_network(x)

Epoch 0 completed out of 20 loss: 2045677.29297
Epoch 1 completed out of 20 loss: 877019.774414
Epoch 2 completed out of 20 loss: 581285.978516
Epoch 3 completed out of 20 loss: 406963.213928
Epoch 4 completed out of 20 loss: 257534.247589
Epoch 5 completed out of 20 loss: 50071.2390528
Epoch 6 completed out of 20 loss: 3969.1550386
Epoch 7 completed out of 20 loss: 1608.42699087
Epoch 8 completed out of 20 loss: 1017.48251891
Epoch 9 completed out of 20 loss: 767.722209573
Epoch 10 completed out of 20 loss: 640.626298785
Epoch 11 completed out of 20 loss: 572.572470784
Epoch 12 completed out of 20 loss: 532.74825573
Epoch 13 completed out of 20 loss: 505.988672972
Epoch 14 completed out of 20 loss: 487.209271431
Epoch 15 completed out of 20 loss: 476.010565042
Epoch 16 completed out of 20 loss: 467.322083116
Epoch 17 completed out of 20 loss: 463.427080274
Epoch 18 completed out of 20 loss: 458.370245099
Epoch 19 completed out of 20 loss: 454.463867664
Accuracy: 0.627562